* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  background-color: #81c2f8;
}

#root {
  height: 100%;
}

.App {
  height: 100%;
  display: flex;
  flex-direction: column;
}




.App-header {
  background-color: rgb(166, 204, 255);
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-bar {
  background-color: rgb(132, 185, 255);
  height: 80%;
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
}








main {
  background-color: rgb(209, 226, 255);
  padding: 10px;
  flex-grow: 1;
  display: flex;
  justify-content: center;
}

.main-div {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.select-area{
  background-color: rgb(165, 206, 230);
  padding: 10px;
  max-width: 800px;
}