* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  background-color: #81c2f8;
}

#root {
  height: 100%;
}

.App {
  height: 100%;
  display: flex;
  flex-direction: column;
}




.App-header {
  
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-bar {
 
  height: 80%;
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
}

 
main {
  background-color: rgb(209, 226, 255);
  padding: 10px;
  flex-grow: 1;
  display: flex;
  justify-content: center;
}

.main-div {
  height: 100%;
  width: 50%;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #fcf9f9;
  border-radius: 8px;
}

 

.select-area{

  width: 100%;
  margin-top: 10px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

input{
  width: 80%;
  padding: 8px;
  border-radius: 5px 0 0 5px;
  border: 2px solid rgb(224, 222, 222);
 
  outline: none;
  
}
 .search-button{
  
  width: 7%;
  padding: 8px;
  border-radius: 0 5px 5px 0;
  border: 2px solid rgb(224, 222, 222);
  cursor: pointer;
   
   
 }

.view-info{
  width: 100%;
  margin-top: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#city-name{
  font-size: 3rem;
}

.date-time{
  display: flex;
  color: rgb(170, 159, 138);
  margin-top: 12px ;
}

.weather-info{
  margin-top: 10px;
  width: 50%;
  max-width: 80%;
  height: 200px;
 display: flex;
 gap: 15px;
 
 
 
}

.weather-type{
  height: 100%;
  width: 50%;
   display: flex;
   flex-direction: column;
   gap: 4rem;
   justify-content: center;
   align-items: center;
    
}

.weather-temp{
  height: 100%;
  width: 50%;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

.temperature{
  display: flex;
 gap: 20px;
}

#temp{
  font-size: 3rem;
}

#celcius{
  color: blue;
}

#temp-info{
  text-align: center;
   
}
.weather-data{
  color: rgb(170, 159, 138);
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap:10px
}

